aclocal.m4
autom4te.cache
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
.deps
INSTALL
install-sh
*.l[ao]
.libs
libtool
ltmain.sh
Makefile
Makefile.in
missing
*.so
stamp-h1
dequeue.o
psem.o
pthread_wq_np.o
queue_test
queue_test-dequeue.o
queue_test-queue_test.o
sem_test
sem_test-psem.o
sem_test-sem_test.o
wq_test
wq_test-wq_test.o
